body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
 
}
.cent{
text-align: center;
}
.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 0 20px;
}

h1 {
  color: #333;
}

p {
  color: #666;
  line-height: 1.6;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

